Python is dynamically typed i.e one variable can be used for multiple data types. Ex: name ='saksham' name = 2_____is correct.
Python data types : Numbers(Integer,Float),Strings,List(Arrays),Dictionaries(Objects),Tuples,Boolens(True,False),Sets.
Python uses indentation(spaces) rather than brackets.

# Numbers

In [1]:
#Addition
2+2

4

In [2]:
#Subtraction
10-2

8

In [7]:
#Multiplication
4*5

20

In [9]:
#Division
10/2
#Answer will always be float

5.0

In [12]:
15/3

5.0

In [13]:
#Modulas
10%3

1

In [14]:
#Power 
2**2

4

In [15]:
#Priority
print(2+10*3+6)
print((2+10)*3+6)

38
42

# Strings

In [17]:
'hello'

'hello'

In [18]:
'hello'+'world'

'helloworld'

In [19]:
'hello'+' ' +'world'

'hello world'

In [20]:
"I'm going for a run"

"I'm going for a run"

In [21]:
'I\'m going for a run'

"I'm going for a run"

In [23]:
print('hello world')
print('hello\n world')
print('hello\t world')
print('hello\b world')

hello world
hello
 world
hello	 world
hello world

In [27]:
#length of a string
len('My name is saksham')
#It also counts space

18

In [28]:
#Indexing and Slicing of the string

In [29]:
#Indexing
my_name = 'saksham'

In [30]:
my_name

'saksham'

In [36]:
#Indexing starts with 0 upto (length-1)
print(my_name[0])
print(my_name[5])

s
a

In [40]:
#For getting last word in a string

#Old Way
print(my_name[len(my_name)-1])

#Popular Way
print(my_name[-1])
    #Want Third Last Word in a string
print(my_name[-3])

m
m
h

In [41]:
#Slicing

In [47]:
#Pattern

#string[starting point:end point(upto):step size]
#Note : end point is upto i.e not included in the output 

my_string = 'abcdefghijk'
print(my_string[0:9:1])#Starting from 1st position upto 9th
print(my_string[2:8:1])#Starting from 3rd position upto 8th
print(my_string[0:len(my_string)-1:2])#Step size means skipping i.e 1:no skip,2:skip letter

#To Reverse a string
print(my_string[::-1])

abcdefghi
cdefgh
acegi
kjihgfedcba

In [48]:
#Note : String are immutable i.e individual letters of a string can't be changed
#For Ex:
my_name = 'saksham'
my_name[0] = 'm' # It will produce an error

TypeError: 'str' object does not support item assignment

In [1]:
#Concatenation & Addition

print(2+3) #Addition
print('2'+'3') #Concatenation

5
23

In [25]:
#Inbuilt Methods

my_name = 'saksham'
print(my_name.upper()) 
print(my_name.lower()) 
print(my_name.capitalize())

my_name = 'saksham manocha'
print(my_name.split())
print(my_name.split('s'))
print(my_name.split('a'))

print(my_name.find('s'))#Will Find first occurence of the given word
print(my_name.find('o'))

my_name.replace('a','g')#Will replace every occurence of a with g

#Note: These all method does not change the actual value of 'my_name'.If you want to change the value of 'my_name',you have to initialize it.

SAKSHAM
saksham
Saksham
['saksham', 'manocha']
['', 'ak', 'ham manocha']
['s', 'ksh', 'm m', 'noch', '']
0
11

'sgkshgm mgnochg'

In [44]:
#String Interpoliation

my_name = 'saksham'
print('Hello '+ my_name)

#1. Format Method

print('This is an example of {}'.format('String Interpoliation'))
print('hello {} . How {} you {}'.format('saksham','are','doing'))

print('the {2} {1} {0}'.format('quick','brown','fox'))
#OR
print('the {q} {b} {f}'.format(q='quick',b='brown',f= 'fox'))



#Format method for the numbers.........

num = 100/12

print('the number is {}'.format(num))
# for better precision

#                    {value:width.precision f}
print('the number is {n:1.2f}'.format(n=num))
print('the number is {n:10.2f}'.format(n=num))


#2. f string method

my_name = 'saksham'
age = 20
print(f'my name is {my_name} and I am {age} years old')
print(f'{age}{age}{age}{age}')

Hello saksham
This is an example of String Interpoliation
hello saksham . How are you doing
the fox brown quick
the quick brown fox
the number is 8.333333333333334
the number is 8.33
the number is       8.33
my name is saksham and I am 20 years old
20202020

# Lists

In [81]:
my_list = ['saksham','manocha',20]

print(len(my_list))
print(my_list[0])
print(my_list[-1])#For getting last element in the list

#Note=>List are mutable i.e they can be changed

my_list[0] = 'Saksham'
print(my_list[0])

#Methods
my_list.pop()#Remove the element. If no value is passed ,it will remove the last element of the array
my_list.append('20')


new_list = ['first','second','third','fourth','fifth']
my_list = my_list + new_list


print(my_list[1:8:2])
print(my_list[::-1])#Reverse the array

#Sorting & Reversing
my_list = ['a','m','d','g','b','z','f']
my_list.sort()#It does'nt return anything
print(my_list)
my_list.reverse()
print(my_list)

my_num_list = [1,5,2,8,3,9,12]
my_num_list.sort()
print(my_num_list)
my_num_list.reverse()
print(my_num_list)

3
saksham
20
Saksham
['manocha', 'first', 'third', 'fifth']
['fifth', 'fourth', 'third', 'second', 'first', '20', 'manocha', 'Saksham']
['a', 'b', 'd', 'f', 'g', 'm', 'z']
['z', 'm', 'g', 'f', 'd', 'b', 'a']
[1, 2, 3, 5, 8, 9, 12]
[12, 9, 8, 5, 3, 2, 1]

# Dictionaries

In [93]:

my_dict = {'key1':'value1','key2':'value2','key3':'value3'}
print(my_dict['key3'])

#They are mutable 
my_dict['key3'] = 'value4'
print(my_dict['key3'])

my_dict = {'name':'saksham','age':20,'hobbies':['coding','video games','football'],'more':{'college':'NIEC','degree':'B Tech'}}

print(my_dict['name'])
print(my_dict['hobbies'][2])
print(my_dict['more']['degree'])

#To get All the keys
print(my_dict.keys())
#To get All the values
print(my_dict.values())
#To get All the items
print(my_dict.items()) #It gives out tuples

value3
value4
saksham
football
B Tech
dict_keys(['name', 'age', 'hobbies', 'more'])
dict_values(['saksham', 20, ['coding', 'video games', 'football'], {'college': 'NIEC', 'degree': 'B Tech'}])
dict_items([('name', 'saksham'), ('age', 20), ('hobbies', ['coding', 'video games', 'football']), ('more', {'college': 'NIEC', 'degree': 'B Tech'})])

# Tuples

In [101]:
#Tuples are very similiar to lists but they are imutable and uses paranthesis 

my_tuple = ('saksham','manocha',20)
print(my_tuple[2])
# my_tuple.append('hello') Note => Tuples can't be changed,no new element can be added or removed

#Methods
my_tuple = (1,1,2,3,1,5,2,4)
print(my_tuple.count(1)) # Will give total number of times a number appers in tuple
print(my_tuple.index(2)) # Will give the first occurence of the number given in the tuple

20
3
2

# Sets

In [106]:
#Sets are immutable and every element in sets must be unique

my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(1)
print(my_set)

my_arr = [11,1,1,1,2,3,2,2,3,4,5,6,4,5]

set(my_arr)

{1, 2}

{1, 2, 3, 4, 5, 6, 11}

# Boolens

In [108]:
print(1<2)
print(2==2)
print(17<3)

True
True
False